.form-group{
    margin:10px 0px;
}

.form-control{
    width:96%;
    padding:5px;
    outline:none;
    border:1px solid gray;
    border-radius:3px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman';
    padding: 30px;
    background: rgba(255, 255, 255, 0.87);
}
.header {
    padding: 10px;
    text-align: center;
    background: rgb(151, 160, 160);
    color: #070924;
}
.header h1 {
    font-size: 40px;
}
.header p {
    font-size: 20px;
}
.topnav {
    overflow: hidden;
    background-color: #070924;
}
.topnav a {
    float: left;
    display: block;
    color: rgb(151, 160, 160);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: rgb(151, 160, 160);
    color: #070924;
}
.leftcolumn {
    float: left;
    width: 75%;
}
.rightcolumn {
    float: right;
    width: 25%;
    padding-left: 20px;
}
.images {
    width: 100%;
    height: 250px;
}
.images2 {
    width: 70%;
    height:500;
}
.card-news {
    width: 30%;
    height: 530;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    float: left;
}
.card-news a:hover {
    background-color: #ffffff;
    box-shadow: 10px 10px pink;
    border-radius: 5px 10px 15px 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.card1 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
.chu {
    font-size: 15px;
}
.footer {
    padding: 10px;
    text-align: center;
    background: #070924;
    color: rgb(151, 160, 160);
    margin-top: 10px;
}

.hmenu{
    margin:0px;
    padding:0px;
    border-radius:3px;
    list-style:none;
    background-color:#070924;
    height:50px;

    overflow: hidden;
}
ul.hmenu>li>a {
    line-height: 55px;
    float: left;
    display: block;
    color: rgb(151, 160, 160);
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}
ul.hmenu>li>a:hover{
    font-weight:bolder;

    background-color: rgb(151, 160, 160);
    color: #070924;
}
ul.hmeu>li {
    float:center;
    margin:0 5px;
    position:absolute;
}
ul.hmenu>li:hover>.sub-menu {
    display:block;
}

.sub-menu{
    margin:0px;
    padding:0px;
    border-radius:5px;
    box-shadow:0 0 5px #070924;
    list-style:none;
    width:120px;
    position:absolute;
    display:none;
    line-height: 55px;
}
.sub-menu>li>a{
    display:block;
    line-height:30px;
    border-bottom:1px dotted #070924;
    text-decoration:none;
    font-variant:small-caps;
    padding-left:25px;
    background: #ffffff  center;
    color:#070924;
}
.sub-menu>li>a:hover{
    background: #470b0b  center;
    color:blanchedalmond;
    font-weight:bolder;
}